

.wrapper {

  background: rgba(255, 255, 255, 0.6);
  margin: 1% 30% 1% 30%;
	border-radius: 10px;
	padding: 20px 20px 20px 20px;
  box-shadow: 0px 0.6em 0.7em grey;
  text-align: center;
}


.profilePicture {
  width: 300px;
  height: 300px;
  object-fit: scale-down;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  border-radius: 100%;
  box-shadow: 0px 0.6em 0.7em black;
}

.title {
  font-size: 2em;
  color: #7c8097;
}
.subTitle {
  font-size: 1.6em;
}

.bio {
  font-size: 1.4em;
}



#moreInfoButton {

  border: none;
  border-radius: 10px;
  padding: 4%;
  background: #5cb85c;
}

#moreInfoButton:hover{
  color: white;
  background: #428bca;
}

.mainButtons {
  padding: 0.5% 1% 0.5% 1%;
  background: rgba(87, 15, 15, 0.9);
  color: #eee;
  border-radius: 7px;
  margin: 1%;
  font-family: Courier, monospace;
  font-size: 1.3em;
  margin-left: 1%;

}

.mainButtons:hover {
  padding: 0.5% 1% 0.5% 1%;
  color: rgba(87, 15, 15, 0.99);
  font-weight: bold;
  font-size: 1.4em;
  background: #eee;
  border-radius: 7px; 

}

#name {

  color: black;
  font-size: 2.7em;
  font-weight: 600;
  text-align: center;


}