

#info {
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    font-family: Courier New, monospace;
}
.container2{
    
    background-color:rgba(87, 15, 15, 0.9);;
    opacity: 0.8;
    margin: auto;
    width: 500px;
<<<<<<< HEAD
    margin-top: 40px;
    margin-left: 400px;
    margin-bottom: 100px;     
=======
    margin-top: 50px;

   /* margin-left: 400px;*/

    margin-bottom: 100px;
>>>>>>> 5356f00ec68cdd67eb8753dcd29ae94512a5bdc5
    border-radius: 15px;
    font-family: "Raleway", sans-serif;
    color: #ff8080;   
    height: 800px;

}
#header{
<<<<<<< HEAD
     background:#640303;
=======
>>>>>>> 5356f00ec68cdd67eb8753dcd29ae94512a5bdc5
    text-align: center;
    font-family:Courier New, monospace;;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);  
<<<<<<< HEAD
    padding: 15px 0;
    margin: 0px -70px -16px -60px; 
    /* background: #43D1AF;
	padding: 40px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -20px -16px 16px -16px;
     */
=======
    padding: 10px 0;
    width: 400px;
    margin: 0 auto;
    
>>>>>>> 5356f00ec68cdd67eb8753dcd29ae94512a5bdc5
    
    
}

.alert {
    padding: 20px;
    color: black;
    text-align: center;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#btn {
    width: 112px;
    padding: 15px;
    border-radius: 12px;
    margin-left: 0px;
}
    
