<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel = "stylesheet" type="text/css"
  href = "css/style.css"></link>
  <link rel = "stylesheet" type="text/css"
  href="css/font-awesome.css">
  </head>
  <body>
    </div class ="container">
      <img src = "/Users/amynorton/Documents/avatar.png">
      <form>
      <div class = "form-input">
        <input type = "text" name = "username"
        placeholder="enter username">
        </div>
        <div class = "form-input">
          <input type = "password"
          name ="password" placeholder="enter password">
          </div>
          </form>
        </div>
      </body>
    </html>
