body{

    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    /* background-color:pink; */
    background-size: 100% ;
    display: grid;
   
   
    padding: 0;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    
}

.container1{
    width: 500px;
    height: 400px;
    text-align: center;
    /* background-color: rgba(243, 189, 189, 0.7); */
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
    
}

input{
    height: 65px;
    width:30px;
    font-size:22px;
    margin-bottom:30px;
    background-color: #fff;
    padding-left:40px;
  
}

.ButtonGroup:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
}
h3{
    font-size: 3em;
      font-weight: 300;
      color: rgba(87, 15, 15, 0.7);
      display: inline-block;
      padding-bottom: 5px;
      text-shadow: 1px 1px 3px shadow-color;
}
label{
    height: 35px;
    font-style: normal;
    color: rgb(87, 15, 15);
}
[type="checkbox"]
{
    vertical-align:middle;
    
}
